@import "tailwindcss";

@theme {
  --animate-nagi-wave: nagi-wave 10s ease-in-out infinite;

  @keyframes nagi-wave {
    0% {
      opacity: 0.3;
      transform: translateY(0px);
    }
    50% {
      opacity: 0.5;
      transform: translateY(-2px);
    }
    100% {
      opacity: 0.3;
      transform: translateY(0px);
    }
  }
}
