@import "tailwindcss";

@theme {
  --animate-nagi-wave: nagi-wave 10s ease-in-out infinite;

  @keyframes nagi-wave {
    0% {
      opacity: 0.8;
    }
    50% {
      opacity: 1.0;
    }
    100% {
      opacity: 0.8;
    }
  }
}
